/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-srg-media-accordion-item {
	position: relative;
	display: flex;
    flex-direction: column;
	gap: 0;
	padding-left: 1.875rem;


	&::before {
		position: absolute;
        left: 0;
        width: .125rem;
        height: 100%;
        border-radius: .625rem;
        background-color: currentColor;
        content: "";
        opacity: .3;
	}

	& > .content {
		display: grid;
		grid-template-rows: 0fr;
		overflow: hidden;
		transition-property: grid-template-rows,padding;
		transition-timing-function: ease;
		transition-duration: .5s;

		& > .wrap {
			min-height: 0;
		}
	}

	* {
		margin: 0;
	}

	.header-button {
		width: 100%;
		border: none;
		background: transparent;
		color: inherit;
		cursor: pointer;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		letter-spacing: inherit;
		line-height: inherit;
		outline: none;
		text-align: left;
		padding: 0;
	}

	.header {
		opacity: .4;
	}

	&.active {
		gap: 1.875rem;

		& > .content {
			grid-template-rows: 1fr;
		}

		&::after {
			position: absolute;
			left: 0;
			width: .125rem;
			height: 100%;
			border-radius: .625rem;
			background-color: currentColor;
			content: "";

			animation: media-accordion-progress var(--animation-duration,8s) linear normal forwards;
		}

		.header {
			opacity: 1;
		}
	}
}

@keyframes media-accordion-progress {
    0% {
        height: 0%
    }

    to {
        height: 100%
    }
}
