/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-srg-media-accordion-item {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 0;

	&::before {
		content: none;
	}

	> .header {
		border-bottom: 1px solid #ccc;
		opacity: 1;
		padding: 0.5em;

		input {
			width: 100%;
			margin-bottom: 1em;
			border: none;
		}
	}

	.block-editor-inner-blocks {
		padding: 0.5em;
	}
}

@media (min-aspect-ratio: 1 / 1) {

	.wp-block-srg-media-accordion-item {

		&.active {

			&::after {
				content: none;
				animation: none;
				width: 0;
			}
		}
	}
}
