/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-srg-media-accordion {
	display: flex;
	flex-direction: column-reverse;
	gap: 1.0625rem;
	overflow: hidden;

	&_media-container {
		position: relative;
		flex: 1;
	}

	&_media-wrap {
		aspect-ratio: 1 / 1;

		video {
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&_pause-btn-container {
		position: absolute;
		right: 2rem;
		bottom: 6.25rem;
	}

	&_pause-btn {
		color: #000;
		background-color: #fff;
		cursor: pointer;
		padding: 1.25rem;
		border: none;
		border-radius: 18.75rem;

		svg {
			pointer-events: none;

			path {
				fill: #000;
			}
		}


		&:hover {
			background-color: #e5e5e5;
		}
	}
}

.wp-block-srg-media-accordion[data-autoplay="false"] {

	.wp-block-srg-media-accordion_pause-btn-container {
		display: none;
	}
}

.wp-block-srg-media-accordion-item {
	position: relative;
	display: flex;
	flex-direction: column;


	&.active#{&}--paused::after {
		animation-play-state: paused;
	}

	* {
		margin: 0;
	}

	&_header {
		opacity: 0.4;

		button {
			width: 100%;
			border: none;
			background: transparent;
			color: inherit;
			cursor: pointer;
			font-family: inherit;
			font-size: inherit;
			font-style: inherit;
			font-weight: inherit;
			letter-spacing: inherit;
			line-height: inherit;
			outline: none;
			text-align: left;
			padding: 0;
		}
	}


}

.keen-slider:not([data-keen-slider-disabled]) {
	width: 80% !important;
	overflow: visible !important;

	.keen-slider__slide {
		row-gap: 0.5rem;
		padding: 1.25rem;
		border-radius: 0.9375rem;
		background: hsla(0, 0%, 100%, 0.1);
		box-sizing: border-box;
	}
}

.keen-slider_navigation-wrapper {
	position: relative;

	.dots {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0.625rem;
		margin: 0.8rem 0;
	}

	.dot {
		width: 0.625rem;
		height: 0.625rem;
		border-radius: 50%;
		background-color: currentcolor;
		opacity: 0.2;
	}

	// .dot:focus {
	// 	outline: none;
	// }

	.dot--active {
		opacity: 1;
	}
}

@media (prefers-reduced-motion: no-preference) {

	.keen-slider_navigation-wrapper {

		.dot {
			transition: opacity 0.5s linear;
		}
	}
}

@media (min-aspect-ratio: 1 / 1) {

	.wp-block-srg-media-accordion {
		flex-direction: row;
		gap: 0;

		&_content {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
			padding: 0;
		}

		&_content-container {
			display: flex;
			flex-direction: column;
			gap: 1.875rem;
		}
	}

	.wp-block-srg-media-accordion-item {
		row-gap: 0;
		padding: 0;
		padding-left: 1.875rem;
		padding-right: clamp(1.8125rem, 8.64vw + -0.2121478873rem, 7.5625rem);
		background: none;

		&::before {
			position: absolute;
			left: 0;
			width: 0.125rem;
			height: 100%;
			border-radius: 0.625rem;
			background-color: currentcolor;
			content: "";
			opacity: 0.3;
		}

		&_content {
			display: grid;
			grid-template-rows: 0fr;
			overflow: hidden;
			transition-property: grid-template-rows, padding;
			transition-timing-function: ease;
			transition-duration: 0.5s;

			&-wrap {
				min-height: 0;
			}
		}

		&.active {
			gap: 1.875rem;

			.wp-block-srg-media-accordion-item_content {
				grid-template-rows: 1fr;
			}

			&::after {
				position: absolute;
				left: 0;
				width: 0.125rem;
				height: 100%;
				border-radius: 0.625rem;
				background-color: currentcolor;
				content: "";

				animation: media-accordion-progress var(--animation-duration, 8s) linear normal forwards;
			}

			.wp-block-srg-media-accordion-item_header {
				opacity: 1;
			}
		}
	}

	.wp-block-srg-media-accordion.is-layout-2 {

		.wp-block-srg-media-accordion-item_content {
			grid-template-rows: 1fr;
		}

		.wp-block-srg-media-accordion-item {
			cursor: pointer;
			padding: 10px;
			gap: 0.7rem;
			border-radius: 20px;
			transition: background-color 0.4s ease;

			&.active {
				background-color: var(--active-item-bg-color);
			}

			&::before {
				content: none;
			}
		}

	}

	.keen-slider_navigation-wrapper .dots {
		display: none;
	}
}

.wp-block-srg-media-accordion-item_media-item {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;

	&.active {
		opacity: 1;
	}
}

@keyframes media-accordion-progress {

	0% {
		height: 0;
	}

	to {
		height: 100%;
	}
}
