/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-srg-media-accordion {
	position: relative;
	display: flex;
	flex-direction: row;

	&_content {
		display: flex;
		align-items: center;
        justify-content: center;
		flex: 1;
	}

	&_content-container {
		display: flex;
		flex-direction: column;
		gap: 1.875rem;
	}

	&_media-container {
		flex: 1;
		aspect-ratio: 1 / 1;

		video {
			width: 100%;
			height: 100%;
		}
	}

	&_pause-btn-container {
		position: absolute;
		right: 2rem;
        bottom: 6.25rem;
	}

	&_pause-btn {
		color: #000000;
		background-color: #FFFFFF;
		cursor: pointer;
		padding: 1.25rem;
		border: none;
    	border-radius: 18.75rem;

		svg {
			pointer-events: none;

			path {
				fill: #000;
			}
		}


		&:hover {
			background-color: #e5e5e5;
		}
	}
}

.wp-block-srg-media-accordion-item {
	position: relative;
	display: flex;
    flex-direction: column;
	gap: 0;
	padding-left: 1.875rem;
	padding-right: clamp(1.8125rem, 8.64vw + -.2121478873rem, 7.5625rem);


	&::before {
		position: absolute;
        left: 0;
        width: .125rem;
        height: 100%;
        border-radius: .625rem;
        background-color: currentColor;
        content: "";
        opacity: .3;
	}

	&_content {
		display: grid;
		grid-template-rows: 0fr;
		overflow: hidden;
		transition-property: grid-template-rows,padding;
		transition-timing-function: ease;
		transition-duration: .5s;

		&-wrap {
			min-height: 0;
		}
	}

	&.active#{&}--paused::after {
		animation-play-state: paused;
	}

	* {
		margin: 0;
	}

	&_header {
		opacity: .4;

		button {
			width: 100%;
			border: none;
			background: transparent;
			color: inherit;
			cursor: pointer;
			font-family: inherit;
			font-size: inherit;
			font-style: inherit;
			font-weight: inherit;
			letter-spacing: inherit;
			line-height: inherit;
			outline: none;
			text-align: left;
			padding: 0;
		}
	}

	&.active {
		gap: 1.875rem;

		.wp-block-srg-media-accordion-item_content {
			grid-template-rows: 1fr;
		}

		&::after {
			position: absolute;
			left: 0;
			width: .125rem;
			height: 100%;
			border-radius: .625rem;
			background-color: currentColor;
			content: "";

			animation: media-accordion-progress var(--animation-duration,8s) linear normal forwards;
		}

		.wp-block-srg-media-accordion-item_header {
			opacity: 1;
		}
	}
}

@keyframes media-accordion-progress {
    0% {
        height: 0%
    }

    to {
        height: 100%
    }
}
