/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-srg-media-accordion {
	display: flex;
	flex-direction: row;

	&_content {
		display: flex;
		
		align-items: center;
        justify-content: center;
		flex: 1;
        
	}

	&_content-container {
		display: flex;
		flex-direction: column;
		gap: 1.875rem;
	}

	&_media-container {
		flex: 1;
		aspect-ratio: 1 / 1;

		video {
			width: 100%;
			height: 100%;
		}
	}
}
